.membership-section {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 50px 0;
}

.membership-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.membership-section p {
    font-size: 16px;
    margin-bottom: 30px;
}

.membership-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #0F172A;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Column Colors */
.basic {
    background-color: #48cae4;
}

.standard {
    background-color: #00b4d8;
}

.premium {
    background-color: #0096c7;
}

.membership-table th,
.membership-table td {
    padding: 20px;
    border: 1px solid #3B3F58;
    width: 24%;

}

.membership-table thead th {
    font-size: 20px;
    padding: 15px;
}

.membership-table td {
    font-size: 16px;
    font-weight: bold;
}

/* Join Now Buttons */
.join-row td {
    padding: 20px;
    border: none;
}

.join-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    text-decoration: none;
}

.basic-btn,
.standard-btn,
.premium-btn {
    color: #000000;
}

.join-btn:hover {
    background-color: black;
    color: white;
}

.membership-table td img {
    width: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Center the image in the cell */
}

.membership-table th img {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tooltip {
    cursor: pointer;
}

.zebra-row {
    background-color: rgba(255, 255, 255, 0.1);
}

.highlight {
    background-color: rgba(255, 215, 0, 0.3);
    font-weight: bold;
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    .membership-section {
        text-align: center;
        padding: 10px;
    }

    .membership-table {
        width: 95%;
    }

    .membership-table th,
    .membership-table td {
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .join-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}